
{% include "meows/base.html" %}



<div class="container-post">
  {% if user_post.text_content %}
    <div class="post-content">
      <h1>"{{user_post.text_content}}"</h1>
    </div>
  {% endif %}
  {% if user_post.image_URL %}
    <div class="post-content">
      <img src="../media/images/{{user_post.image_URL}}"/>
    </div>
  {% endif %}
  <div class="post-footer">
    <h4>last edited: {{user_post.time_edited}} | score: {{user_post.score}}</h4>
  </div>
</div>

<p>
    last edited: {{user_post.time_edited}} <br/>
    score: {{user_post.score}}
</p>
