{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="../static/new_post.css" />
<div class="container">
  <div class="container-header">
    <h1>Meow</h1>
    <h4>(create a post)</h4>
  </div>
  <form role="form" action="{% url 'meows:create_post' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <textarea rows="4" placeholder="text content" class="form-control" name="text_content" id="text_content"></textarea>
    </div>
    <div class="form-group">
      <label for="img-upload">Upload an image:</label>
      <input type="file" class="form-control" id="img-upload">
    </div>
    <button type="submit" class="btn btn-default">Meow!</button>
  </form>
</div>