<link rel="stylesheet" type="text/css" href="../media/style.css" />
<link rel="stylesheet" type="text/css" href="../media/single_post.css" />
<link rel="stylesheet" type="text/css" href="../media/new_post.css" />

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<script type="text/javascript" src="../media/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../media/script.js"></script>