h1, h2, h3, h4, h5 {
  text-align: center;
}

.container-post {
  border-radius: 10px;
  width:80%;
  background-color: white;
  border-width:2px;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  color:black;
}

.container-post button {
  position: relative;
  margin:0 auto;
}

.container-post label {
  text-align: left;
}

.container-header {
  /*background-color: #9E6417 !important;*/
}




