body {
	background-color: #FFCC87 !important;
}
nav {
	background-color: #9E6417 !important;
}
.navbar-brand {
	color: white !important;
}
.navbar-brand:hover {
	color: #FFCC87 !important;
}
.center-block {
  text-align: center !important;
  margin-bottom: 20px;
}
.post-footer {
	display: inline-flex;	
}
.post-footer .grrButton{
	margin-left: 10px !important;
}
.post-footer .purrButton{
	margin-right: 10px !important;

}

.Add_Post_Button_Container{
    visibility: hidden;
}

.Add_Post_Button{
    color: pink;
    margin: 0 auto;
    
}