body {
	background-color: #FFCC87 !important;
}
nav {
	background-color: #9E6417 !important;
	position: fixed;
	border: 1px white;
	border-style: solid;
    	border-color: white !important;
}
.navbar-brand {
	color: white !important;
}
.navbar-brand:hover {
	color: #FFCC87 !important;
}
.navbar-items {
	color: white !important;
}
.center-block {
  text-align: center !important;
  margin-bottom: 20px;
}
.post-footer {
	display: inline-flex;	
}
.post-footer .grrButton{
	margin-left: 10px !important;
}
.post-footer .purrButton{
	margin-right: 10px !important;

}
.postInfo {
	margin-right: 5%;
	margin-left: 5%;
}

.Add_Post_Button_Container{
	visibility: hidden;
}
.side-piece {
	position: absolute !important;
	float: left !important;
  	height: 100% !important;
  	border-radius: 5px;
  	border-style: solid;
    	border-color: white;
    	background-color: #9E6415;
  	position: fixed !important;
  	left: 0px;
  	min-width: 100px;
  	margin-top: 47px;
}
.body-area {
	margin-top: 5%;
}
.nav-logo {
	margin-top: -15px;
}
.nav-buttons-right {
	margin-right: 10px;
}
.container-post {
	box-shadow: 10px 10px 5px #888888;
}
.login-button {
	margin-top: 10px;
}