{% block body_content %}
  <div class="container-post" id= "{{user_post.id}}" >
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">{{user_post.creator}} Purred:</a>
        </div>
      </div>
    </nav>
    
    <!--<div class="well">
      {{user_post.creator}} Purred:
    </div>-->
    {% if user_post.text_content %}
      <div class="post-content">
        <h1>{{user_post.text_content}}</h1>
      </div>
    {% endif %}
    {% if user_post.image_URL %}
      <div class="post-content">
        <img src="https://purrer.s3.amazonaws.com/media/{{user_post.image_URL}}"/>
      </div>
    {% endif %}
  
    <div class="post-info">
      <div class="post-footer">

        {% if user_post in liked_posts %}
        <button class='btn btn-success noPurrButton pull-left' id="{{user_post.id}}">Purrrr</button>
        <h4 class="postInfo">Created At: {{user_post.time_created}} | Score: {{user_post.score}}</h4>
        <button class='btn btn-danger noGrrButton pull-right' id="{{user_post.id}}">Grrrrr!</button>
        {% else %}
        <button class='btn btn-success purrButton pull-left' id="{{user_post.id}}">Purrrr</button>
        <h4 class="postInfo">Created At: {{user_post.time_created}} | Score: {{user_post.score}}</h4>
        <button class='btn btn-danger grrButton pull-right' id="{{user_post.id}}">Grrrrr!</button>
        {% endif %}
        
      </div>
    </div>

</div>
  
{% endblock %}
