{% extends "meows/Extendable/base.html" %}

{%block page_title %}Welcome to Purrer! {%endblock %}

{% block body_content %}
  <span class="center-block">
    <a class="btn btn-lg btn-default index_elems" href="/meows/new_post">Create Purrr</a>
  </span>
      {% if latest_posts %}
          {% for user_post in latest_posts %}
            {% include "meows/Pages/details.html" %}
          {% endfor %}
      {% else %}
          <p>There appears to be nothing here...</p>
      {% endif %}

{% endblock %}




