{% extends "meows/Extendable/base.html" %}

{%block page_title %}Welcome to Purrer! {%endblock %}

{% block body_content %}
  <span class="center-block">
    <a class="btn btn-lg btn-default index_elems" href="/new_post">Create Purrr</a>
  </span>
      {% if latest_posts %}
          {% for user_post in latest_posts %}
            {% include "meows/Pages/details.html" %}
          {% endfor %}
      {% else %}
          <p>There appears to be nothing here...</p>
      {% endif %}

          <script>
    current_post = 
window.setInterval(function() {
    $.ajax({
        url: '/api/posts/',
        data: {
            format: 'json'
        },
        success: function(data){
            console.log(data);
            
            //get the posts
            //check to see if its a new post by id
            //make a button appear if its true /update it
            //prepend the new posts onto post div if the button is pressed
        }
    });
}, 5000);
</script>

{% endblock %}





