{% extends "meows/Extendable/base.html" %}

{%block page_title %}Welcome to Purrer! {%endblock %}

{% block body_content %}

  <span class="center-block">
    {% if user.is_authenticated %}
    <h1> Hello {{user.username}}, do you want to purr? </h1>
    <!--<a class="btn btn-lg btn-default index_elems" href="/new_post">Create Purrr</a>-->
    <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Create Purr</a>
    {% endif %}
  </span>
  <div class="Add_Post_Button_Container center-block" >
    <button class="Add_Post_Button btn btn-lg btn-default">MORE MEOWWWSSSS</button>
  </div>
    <div id="latest_posts">
      {% if latest_posts %}
          {% for user_post in latest_posts %}
            {% include "meows/Pages/details.html" %}
          {% endfor %}
      {% else %}
          <p>There appears to be nothing here...</p>
      {% endif %}
    </div>
    <div class="modal-holder">
      {%include "meows/Pages/post_modal.html" with form=form %}
    </div>
{% endblock %}







