body {
	background-color: #FFCC87 !important;
}
nav {
	background-color: #9E6417 !important;
}
.navbar-brand {
	color: white !important;
}
.navbar-brand:hover {
	color: #FFCC87 !important;
}

.index_elems {
  text-align: center;
}
