{% extends "meows/Extendable/base.html" %}

{%block page_title %}Welcome to Purrer! {%endblock %}

{% block body_content %}
  <span class="center-block">
    <a class="btn btn-success" href="/meows/new_post">Create Purrr</a>
  </span>

  <div class="col-mid-10 col-md-offset-1">
    <div class="row">
      {% if latest_posts %}
          {% for user_post in latest_posts %}
            <div class="container-post">
              {% if user_post.text_content %}
                <div class="post-content">
                  <h1>"{{user_post.text_content}}"</h1>
                </div>
              {% endif %}
              {% if user_post.image_URL %}
                <div class="post-content">
                  <img src="../static/{{user_post.image_URL}}"/>
                </div>
              {% endif %}
              <div class="post-footer">
                <h4>last edited: {{user_post.time_edited}} | score: {{user_post.score}}</h4>
              </div>
            </div>
          {% endfor %}
      {% else %}
          <p>There appears to be nothing here...</p>
      {% endif %}
    </div>
  </div>
{% endblock %}




