{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head> 
    {% include "meows/Includable/imports.html" %}
    <title> {%block page_title %} Purrer! {%endblock %} </title>
  </head>
  <body> 
    <div id="main">
      {% include "meows/Includable/nav.html" %}
      {% block body_content %}
        <h1> Content Not Found. </h1>
      {% endblock %}
    </div>
    <div class="base_footer">
      <h3><a href="/api/docs">API docs</a></h3> 
    </div>
    <script>
    current_post = 
window.setInterval(function() {
    $.ajax({
        url: '/api/posts/',
        data: {
            format: 'json'
        },
        success: function(data){
            console.log(data);
            
            //get the posts
            //check to see if its a new post by id
            //make a button appear if its true /update it
            //prepend the new posts onto post div if the button is pressed
        }
    });
}, 5000);
</script>
  </body>
  <footer>
    {% include "meows/Includable/jsImport.html" %}
  </footer>
</html>

